---
import HeaderLink from './HeaderLink.astro'
// import { SITE_TITLE } from '../config'
import UiSwitch from './Uiswitch.astro'
import CheckScrollDirection from './CheckScrollDirection'
---

<header>
  <h1 class='logo'><a href='/'>UX/FULLSTACK DEV</a></h1>
  <nav>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/blog'>Articles</HeaderLink>
    <HeaderLink href='/about'>About</HeaderLink>
    <UiSwitch />
    <CheckScrollDirection client:load />
  </nav>
  <script>
    const header = document.querySelector('header')
    const scrollEventHandler = (e: any) => {
      if (!header) return
      if (e.detail === 'UP') {
        header.classList.remove('slideout')
      } else {
        header.classList.add('slideout')
      }
    }
    const mouseEventHandler = (e: MouseEvent) => {
      if (!header) return
      const styles = getComputedStyle(document.documentElement)
      const headerHeight = parseInt(styles.getPropertyValue('--header-height'))
      if (e.clientY < headerHeight && header.classList.contains('slideout')) {
        header.classList.remove('slideout')
      }
    }
    document.addEventListener('NEWSCROLLDIRECTION', scrollEventHandler)
    document.addEventListener('mousemove', mouseEventHandler)
  </script>
</header>

<style lang='scss'>
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    z-index: 10;
    background-color: hsl(202deg 27% 84% / 75%); /* var(--bg-color); */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0rem 2rem;
    border-bottom: 1px solid hsl(0 0% 100% / 0.2);
    backdrop-filter: blur(5px);
    transition: top 300ms ease-out;

    &.slideout {
      top: calc(var(--header-height) * -1);
      transition: top 800ms ease-in 500ms;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
      background-color: unset;
      color: var(--color-dark);
    }
    nav {
      display: flex;
      gap: 2rem;
      font-family: var(--sans-serif);
      text-transform: uppercase;
      font-size: 0.9rem;
      letter-spacing: 0.1em;
    }
    h1.logo {
      white-space: nowrap;
      color: var(--color-dark);
      font-size: 2rem;
      cursor: pointer;
      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px;
      border-bottom: 1px solid hsla(0deg, 0%, 0%, 0.2);
      width: 100%;
    }
  }
</style>
