---
---

<h4>Experience Across Different Industry Categories</h4>
<section aria-label='Previous industry experience' class='columns'>
  <ul>
    <li data-tool-tip='Website/CMS, client: Westair'>Air transport</li>
    <li data-tool-tip='Car configurator, client: Volvo, frontend, Angular'
      >Automotive/car</li
    >
    <li
      data-tool-tip='Truck Configurator, client: Scania, frontend, web components'
      >Automotive/truck</li
    >
    <li data-tool-tip='Intranet apps, client: Akzo Nobel, fullstack'
      >Chemical Industry</li
    >
    <li data-tool-tip='Website/CMS, client: Montesoriskolan Casa, fullstack'
      >Education</li
    >
    <li data-tool-tip='Website/CMS, client: Multiple, fullstack'>Finance</li>
    <li data-tool-tip='Website/CMS, client: Medivir, fullstack'>Healthcare</li>
    <li data-tool-tip='Campaign site, client: SPP, frontend'>Insurance</li>
    <li
      data-tool-tip='Web app/enabler team, client: SKF, frontend, React, web components'
      >Manufacturing Industry</li
    >
    <li data-tool-tip='Website/CMS, client: Cross Country Magazine, fullstack'
      >Magazine Media</li
    >
    <li data-tool-tip='Website/CMS, client: Göteborgs-Posten, frontend'
      >Newspaper Media</li
    >
    <li data-tool-tip='Website/CMS, client: Stena Renewable, fullstack'
      >Renewable Energy</li
    >
    <li data-tool-tip='Website/CMS, client: Stiwex, frontend'
      >Retail/E-commerce</li
    >
    <li data-tool-tip='Website/CMS, client: Transatlantic, frontend'
      >Sea transport</li
    >
    <li data-tool-tip='Website/CMS/Customer Care, client: Parans, fullstack'
      >Startups</li
    >
    <li data-tool-tip='Website, client: SVT Robinson, frontend'
      >Television Media</li
    >
  </ul>
</section>
<style lang='scss'>
  h4 {
    margin-block-start: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(2rem, auto);
  }
  li {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background-color: white;
    font-size: 1rem;
  }
  :root.dark-theme li {
    background-color: var(--color-dark);
  }
</style>
